In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv("C:/123/SRMAP/Semester 6/Machine Learning Lab/Lab_Task-5/drugdata.csv")

In [5]:
df.head()

   Unnamed: 0  Age Sex      BP Cholesterol  Na_to_K   Drug
0           0   23   F    HIGH        HIGH   25.355  drugY
1           1   47   M     LOW        HIGH   13.093  drugC
2           2   47   M     LOW        HIGH   10.114  drugC
3           3   28   F  NORMAL        HIGH    7.798  drugX
4           4   61   F     LOW        HIGH   18.043  drugY

In [6]:
X = data.iloc[:, :-1]  # Features
y = data.iloc[:, -1]   # Target variable

In [30]:
X = X.drop(columns=['Unnamed: 0'])

In [31]:
X = pd.get_dummies(X)

In [32]:
X.head()

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,True,False,True,False,False,True,False
1,47,13.093,False,True,False,True,False,True,False
2,47,10.114,False,True,False,True,False,True,False
3,28,7.798,True,False,False,False,True,True,False
4,61,18.043,True,False,False,True,False,True,False

In [33]:
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [35]:
# Create Decision Tree classifier
clf = DecisionTreeClassifier()

In [36]:
# Train Decision Tree Classifier
clf = clf.fit(X_train, y_train)

In [37]:
# Predict the response for test dataset
y_pred = clf.predict(X_test)

In [38]:
# Model Accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [42]:
# Example: Classify a new patient
new_patient = pd.DataFrame({
    
    'Age': [50],
    'Na_to_K': [10],
    'Sex_F': [0],
    'Sex_M': [1],
    'BP_HIGH': [0],   # Assuming binary encoding for simplicity (1 if HIGH, 0 otherwise)
    'BP_LOW': [1],    # Assuming binary encoding for simplicity (1 if LOW, 0 otherwise)
    'BP_NORMAL': [0], # Assuming binary encoding for simplicity (1 if NORMAL, 0 otherwise)
    'Cholesterol_HIGH': [1], # Assuming binary encoding for simplicity (1 if HIGH, 0 otherwise)
    'Cholesterol_NORMAL': [0] # Assuming binary encoding for simplicity (1 if NORMAL, 0 otherwise)
})

In [43]:
new_patient = pd.get_dummies(new_patient)

In [44]:
predicted_drug = clf.predict(new_patient)
print("Predicted drug for the new patient:", predicted_drug)

Predicted drug for the new patient: ['drugC']