In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Deon','Nimo','Alisa','Pelos'],
    'Score': [77, 45, 37, 69]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df_sorted = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

In [5]:
print("DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:\n", df_sorted)

DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:
     Name  Score
3  Pelos     69
1   Nimo     45
0   Deon     77
2  Alisa     37