In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Elon','Suka','Buka','Dono'],
    'Qualify': ['yes', 'no', 'yes', 'no']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})

In [5]:
print("DataFrame after replacing 'qualify' values:\n", df)

DataFrame after replacing 'qualify' values:
    Name  Qualify
0  Elon     True
1  Suka    False
2  Buka     True
3  Dono    False