In [1]:
import pandas as pd

In [2]:
dictionary_data = {
    'Name': ['Ram', 'Hisenberg', 'James', 'Gorvechov'],
    'Age': [22, 23, 21, 20],
    'City': ['Ayodhya', 'Berlin', 'Newyork', 'Moscow']
}

In [3]:
index_labels = ['Person1', 'Person2', 'Person3', 'Person4']

In [5]:
df = pd.DataFrame(dictionary_data, index=index_labels)

In [6]:
print(df)

              Name  Age     City
Person1        Ram   22  Ayodhya
Person2  Hisenberg   23   Berlin
Person3      James   21  Newyork
Person4  Gorvechov   20   Moscow